<div class="container">
    <!-- Page Header Start -->
<div class="page-header">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <h2>nos services</h2>
           </div>
           <div class="col-12">
               <a href="">club</a>
              
           </div>
       </div>
   </div>
</div>
<!-- Page Header End -->



 
</div>
<div class="container">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-6">
            <div class="probootstrap-heading dark">
            <h1 class="primary-heading">Discover</h1>
            <h3 class="secondary-heading">Our Store</h3>
            <span class="seperator">* * *</span>
          </div>
          <p>Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit</p>
          <p><a href="#" class="probootstrap-custom-link">About Us</a></p>
        </div>
        <div class="col-lg-5 col-md-6">
            <p><img src="assets/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
        </div>
      </div>
      <!-- END row -->
    </div>
