
  <div class="container">
<div class="yass">
    <div class="row">

        <div class="probootstrap-heading dark">
          <div class="yass">

          <h1 class="primary-heading">Contact</h1>
          <h2 class="secondary-heading">Let's Chat</h2>
        </div>
          <p>Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit</p>
      </div>

    <div class="yass">
      <form method="post" class="probootstrap-form">
          <div class="form-group">
            <label for="c_name">Your Name</label>
            <div class="form-field">
              <input type="text" id="c_name" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="c_email">Your Email</label>
            <div class="form-field">
              <input type="text" id="c_email" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="c_message">Your Message</label>
            <div class="form-field">
              <textarea name="c_message" id="c_message" cols="30" rows="10" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" name="c_submit" id="c_submit" value="Send Message" class="btn btn-primary btn-lg">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>