<!-- Portfolio Start -->
<div class="portfolio">
    <div class="container">
        <div class="section-header">
            <h1>galerie</h1>
        </div>
        <div class="row">
            <div class="col-12">
                
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio-1.jpg" alt="Portfolio Image">
                    <figure>
                        <p>****</p>
                        <a href="#">****</a>
                        <span>01-Jan-2045</span>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio-2.jpg" alt="Portfolio Image">
                    <figure>
                        <p>Politics</p>
                        <a href="#">*****</a>
                        <span>01-Jan-2045</span>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio-3.jpg" alt="Portfolio Image">
                    <figure>
                        <p>Family</p>
                        <a href="#">******</a>
                        <span>01-Jan-2045</span>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio-4.jpg" alt="Portfolio Image">
                    <figure>
                        <p>Finance</p>
                        <a href="#">*****</a>
                        <span>01-Jan-2045</span>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio-5.jpg" alt="Portfolio Image">
                    <figure>
                        <p>Business</p>
                        <a href="#">******</a>
                        <span>01-Jan-2045</span>
                    </figure>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio-6.jpg" alt="Portfolio Image">
                    <figure>
                        <p>Finance</p>
                        <a href="#">*******</a>
                        <span>01-Jan-2045</span>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 load-more">
                <a class="btn" href="#">Load More</a>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio Start -->
