<div class="container">

        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="probootstrap-heading dark">
                <h1 class="primary-heading">Discover</h1>
                <h3 class="secondary-heading">Our Store</h3>
                <span class="seperator">* * *</span>
              </div>
              <p>Voluptatibus quaerat laboriosam fugit non Ut consequatur animi est molestiae enim a voluptate totam natus modi debitis dicta impedit voluptatum quod sapiente illo saepe explicabo quisquam perferendis labore et illum suscipit</p>
              <p><a href="#" class="probootstrap-custom-link">About Us</a></p>
            </div>
            <div class="col-lg-5 col-md-6">
                <p><img src="assets/img/img_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            </div>
          </div>
          <!-- END row -->
        </div>
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header">
            <h1>Meet Our Expert Attorneys</h1>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-1.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Adam Phillips</h2>
                        <p>Business Consultant</p>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-2.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Dylan Adams</h2>
                        <p>Criminal Consultant</p>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-3.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Gloria Edwards</h2>
                        <p>Divorce Consultant</p>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="assets/img/team-4.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Josh Dunn</h2>
                        <p>Immigration Consultant</p>
                        <div class="team-social">
                            <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                            <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                            <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->

<!-- Testimonial Start -->
 <div class="testimonial">
    <div class="container">
        <div class="section-header">
            <h1>nos fidels</h1>
        </div>
            <div class="testimonial-item">
                <i class="fa fa-quote-right"></i>
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="assets/img/testimonial-1.jpg" alt="">
                    </div>
                    <div class="col-9">
                        <h2>Client Name</h2>
                        <p>Profession</p>
                    </div>
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <i class="fa fa-quote-right"></i>
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="assets/img/testimonial-2.jpg" alt="">
                    </div>
                    <div class="col-9">
                        <h2>Client Name</h2>
                        <p>Profession</p>
                    </div>
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <i class="fa fa-quote-right"></i>
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="assets/img/testimonial-3.jpg" alt="">
                    </div>
                    <div class="col-9">
                        <h2>Client Name</h2>
                        <p>Profession</p>
                    </div>
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                        </p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <i class="fa fa-quote-right"></i>
                <div class="row align-items-center">
                    <div class="col-3">
                        <img src="assets/img/testimonial-4.jpg" alt="">
                    </div>
                    <div class="col-9">
                        <h2>Client Name</h2>
                        <p>Profession</p>
                    </div>
                    <div class="col-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam accumsan lacus eget velit
                        </p>
                    </div>
                </div>
            </div>
            
            
            
    </div>
</div>
<!-- Testimonial End -->



</div>